<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanting.me.mapper.ScoreMapper">

   <insert id="add" parameterType="Score">
       INSERT INTO score
        (course_id,score,student_id,create_time,update_time,remark)
        VALUES
        (#{courseId}, #{score}, #{studentId}, #{createTime}, #{updateTime}, #{remark})
   </insert>

    <delete id="del" parameterType="int">
      delete from score where id=#{id}
    </delete>

    <update id="update" parameterType="int">
        UPDATE score SET
        course_id = #{courseId}
        score = #{score}
        student_id = #{studentId}
        update_time = #{updateTime}
        remark = #{remark}
        where
        id=#{id}
    </update>

    <select id="getById" parameterType="int" resultType="Score">
        select  * from score where id=#{id}
    </select>
    <select id="search" >
        select  * from score
         limit page,rows
    </select>

    <select id="countTotal">
         select count(*) from score limit page,rows
    </select>
</mapper>