<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanting.me.mapper.ScoreMapper">

   <insert id="add" parameterType="Score">
       INSERT INTO score
        (course_id,score,student_id,create_time,remark)
        VALUES
        (#{courseId}, #{score}, #{studentId}, #{createTime}, #{remark})
   </insert>

    <delete id="del" parameterType="int">
      delete from score where id=#{id}
    </delete>

    <update id="update" parameterType="Score">
        UPDATE score SET
        score = #{score},
        update_time = #{updateTime},
        remark = #{remark}
        where
        course_id = #{courseId} and
        student_id = #{studentId}
    </update>

    <select id="getById" parameterType="Integer" resultType="Score">
        select  * from score where course_id=#{courseId} and student_id=#{studentId}
    </select>
    <select id="search"  resultType="Score">
        select  * from score

    </select>

    <select id="countTotal"  resultType="Integer">
         select count(*) from score limit #{start},#{rows}
    </select>
</mapper>