<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanting.me.mapper.TechMapper">
<!--
String show() throws SQLException;
-->
    <update id="save" parameterType="String">
        UPDATE tech SET
        content = #{content},
        update_time = now()
        where
        id=1

    </update>

    <select id="show" resultType="String">
      select content from tech where id=1
    </select>

</mapper>