<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanting.me.mapper.UserMapper">

   <insert id="add" parameterType="User">
       INSERT INTO user
        (name, major, haoma, sex, college, password, create_time,remark,photo)
        VALUES
        ( #{name}, #{major}, #{haoma}, #{sex}, #{college}, #{password},now(), #{remark},#{photo})
   </insert>

    <delete id="del" parameterType="Integer">
      delete from user where id=#{id}
    </delete>

    <delete id="dels" >
      delete from user where id in
      <foreach collection="array" open="(" close=")"  separator="," item="id" >
          #{id}
      </foreach>


    </delete>

    <update id="update" parameterType="User">
        UPDATE user SET
        name = #{name},
        major = #{major},
        haoma = #{haoma},
        sex = #{sex},
        college = #{college},
        password = #{password},
        update_time = now(),
        remark = #{remark},
        photo=#{photo}
        where
        id=#{id}
    </update>

    <select id="getById" parameterType="Integer" resultType="User">
        select  * from user where id=#{id}
    </select>

    <select id="searchAll" resultType="User">
        select  * from user
    </select>

    <select id="search" resultType="User" >
        select  * from user
        <where>
            <if test="user.id!=null and user.id!=''">
                and id=#{user.id}
            </if>
            <if test="user.name!=null and user.name!=''">
                and name=#{user.name}
            </if>
            <if test="user.major!=null and user.major!=''">
                and major=#{user.major}
            </if>
            <if test="user.haoma!=null and user.haoma!=''">
                and haoma=#{user.haoma}
            </if>
            <if test="user.sex!=null and user.sex!=0">
                and sex=#{user.sex}
            </if>
            <if test="user.college!=null and user.college!=''">
                and college=#{user.college}
            </if>
            <if test="user.updateTime!=null and user.updateTime!=''">
                and DATE_FORMAT(update_time,'%Y-%m-%d')  =  #{user.updateTime}
            </if>
            <if test="user.createTime!=null and user.createTime!=''">
                and DATE_FORMAT(create_time,'%Y-%m-%d')  =  #{user.createTime}
            </if>
            <if test="user.remark!=null and user.remark!=''">
                and remark like concat('%',#{user.remark},'%')
            </if>
        </where>
        limit #{start},#{rows}
    </select>

    <select id="countTotal" resultType="Integer">
      select  count(*) from user
        <where>
            <if test="user.id!=null and user.id!=''">
                and id=#{user.id}
            </if>
            <if test="user.name!=null and user.name!=''">
                and name=#{user.name}
            </if>
            <if test="user.major!=null and user.major!=''">
                and major=#{user.major}
            </if>
            <if test="user.haoma!=null and user.haoma!=''">
                and haoma=#{user.haoma}
            </if>
            <if test="user.sex!=null and user.sex!=0">
                and sex=#{user.sex}
            </if>
            <if test="user.college!=null and user.college!=''">
                and college=#{user.college}
            </if>
            <if test="user.updateTime!=null and user.updateTime!=''">
                and DATE_FORMAT(update_time,'%Y-%m-%d')  =  #{user.updateTime}
            </if>
            <if test="user.createTime!=null and user.createTime!=''">
                and DATE_FORMAT(create_time,'%Y-%m-%d')  =  #{user.createTime}
            </if>
            <if test="user.remark!=null and user.remark!=''">
                and remark like concat('%',#{user.remark},'%')
            </if>
        </where>
    </select>

    <select id="getByHaoMa" parameterType="String" resultType="User">
      select * from user where haoma=#{username}
    </select>

    <update id="hasPhoto" parameterType="Integer">
        UPDATE user SET
        photo = 1
        where
        id=#{id}
    </update>
</mapper>